---
const {avatar, name, description, link} = Astro.props;
---

<a href={link} class="friend-card">
    <img src={avatar} alt={name} class="avatar" />
    <div class="info">
      <h3>{name}</h3>
      <p>{description}</p>
    </div>
  </a>
  
  <style>
    .friend-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      border: 1px solid #ccc;
      margin: 0.5rem;
      width: calc(20% - 1rem);
      padding: 0.5rem;
      text-align: center;
      transition: transform 0.3s ease;
    }

    .friend-card:hover {
        transform: scale(1.1); /* Scale up on hover */
    }
    
    .avatar {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-right: 0.5rem;
    }
  
    .info {
      flex-grow: 1;
    }
  
    h3 {
      margin: 0;
      font-size: 1.2rem; 
    }
  </style>